In [1]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext('local')
spark = SparkSession(sc)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [2]:
from pyspark.sql import *

In [3]:
help(DataFrameWriter)

Help on class DataFrameWriter in module pyspark.sql.readwriter:

class DataFrameWriter(OptionUtils)
 |  DataFrameWriter(df)
 |
 |  Interface used to write a :class:`DataFrame` to external storage systems
 |  (e.g. file systems, key-value stores, etc). Use :attr:`DataFrame.write`
 |  to access this.
 |
 |  .. versionadded:: 1.4
 |
 |  Method resolution order:
 |      DataFrameWriter
 |      OptionUtils
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, df)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  bucketBy(self, numBuckets, col, *cols)
 |      Buckets the output by the given columns.If specified,
 |      the output is laid out on the file system similar to Hive's bucketing scheme.
 |
 |      .. versionadded:: 2.3.0
 |
 |      Parameters
 |      ----------
 |      numBuckets : int
 |          the number of buckets to save
 |      col : str, list or tuple
 |          a name of a column, or a list of names.
 |      cols : str
 |          additional names (optional). If `col` is a list it should be empty.
 |
 |      Notes
 |      -----
 |      Applicable for file-based data sources in combination with
 |      :py:meth:`DataFrameWriter.saveAsTable`.
 |
 |      Examples
 |      --------
 |      >>> (df.write.format('parquet')  # doctest: +SKIP
 |      ...     .bucketBy(100, 'year', 'month')
 |      ...     .mode("overwrite")
 |      ...     .saveAsTable('bucketed_table'))
 |
 |  csv(self, path, mode=None, compression=None, sep=None, quote=None, escape=None, header=None, nullValue=None, escapeQuotes=None, quoteAll=None, dateFormat=None, timestampFormat=None, ignoreLeadingWhiteSpace=None, ignoreTrailingWhiteSpace=None, charToEscapeQuoteEscaping=None, encoding=None, emptyValue=None, lineSep=None)
 |      Saves the content of the :class:`DataFrame` in CSV format at the specified path.
 |
 |      .. versionadded:: 2.0.0
 |
 |      Parameters
 |      ----------
 |      path : str
 |          the path in any Hadoop supported file system
 |      mode : str, optional
 |          specifies the behavior of the save operation when data already exists.
 |
 |          * ``append``: Append contents of this :class:`DataFrame` to existing data.
 |          * ``overwrite``: Overwrite existing data.
 |          * ``ignore``: Silently ignore this operation if data already exists.
 |          * ``error`` or ``errorifexists`` (default case): Throw an exception if data already \
 |              exists.
 |
 |      compression : str, optional
 |          compression codec to use when saving to file. This can be one of the
 |          known case-insensitive shorten names (none, bzip2, gzip, lz4,
 |          snappy and deflate).
 |      sep : str, optional
 |          sets a separator (one or more characters) for each field and value. If None is
 |          set, it uses the default value, ``,``.
 |      quote : str, optional
 |          sets a single character used for escaping quoted values where the
 |          separator can be part of the value. If None is set, it uses the default
 |          value, ``"``. If an empty string is set, it uses ``u0000`` (null character).
 |      escape : str, optional
 |          sets a single character used for escaping quotes inside an already
 |          quoted value. If None is set, it uses the default value, ``\``
 |      escapeQuotes : str or bool, optional
 |          a flag indicating whether values containing quotes should always
 |          be enclosed in quotes. If None is set, it uses the default value
 |          ``true``, escaping all values containing a quote character.
 |      quoteAll : str or bool, optional
 |          a flag indicating whether all values should always be enclosed in
 |          quotes. If None is set, it uses the default value ``false``,
 |          only escaping values containing a quote character.
 |      header : str or bool, optional
 |          writes the names of columns as the first line. If None is set, it uses
 |          the default value, ``false``.
 |      nullValue : str, optional
 |          sets the string representation of a null value. If None is set, it uses
 |          the default value, empty string.
 |      dateFormat : str, optional
 |          sets the string that indicates a date format. Custom date formats follow
 |          the formats at
 |          `datetime pattern <https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html>`_.  # noqa
 |          This applies to date type. If None is set, it uses the
 |          default value, ``yyyy-MM-dd``.
 |      timestampFormat : str, optional
 |          sets the string that indicates a timestamp format.
 |          Custom date formats follow the formats at
 |          `datetime pattern <https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html>`_.  # noqa
 |          This applies to timestamp type. If None is set, it uses the
 |          default value, ``yyyy-MM-dd'T'HH:mm:ss[.SSS][XXX]``.
 |      ignoreLeadingWhiteSpace : str or bool, optional
 |          a flag indicating whether or not leading whitespaces from
 |          values being written should be skipped. If None is set, it
 |          uses the default value, ``true``.
 |      ignoreTrailingWhiteSpace : str or bool, optional
 |          a flag indicating whether or not trailing whitespaces from
 |          values being written should be skipped. If None is set, it
 |          uses the default value, ``true``.
 |      charToEscapeQuoteEscaping : str, optional
 |          sets a single character used for escaping the escape for
 |          the quote character. If None is set, the default value is
 |          escape character when escape and quote characters are
 |          different, ``\0`` otherwise..
 |      encoding : str, optional
 |          sets the encoding (charset) of saved csv files. If None is set,
 |          the default UTF-8 charset will be used.
 |      emptyValue : str, optional
 |          sets the string representation of an empty value. If None is set, it uses
 |          the default value, ``""``.
 |      lineSep : str, optional
 |          defines the line separator that should be used for writing. If None is
 |          set, it uses the default value, ``\\n``. Maximum length is 1 character.
 |
 |      Examples
 |      --------
 |      >>> df.write.csv(os.path.join(tempfile.mkdtemp(), 'data'))
 |
 |  format(self, source)
 |      Specifies the underlying output data source.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      source : str
 |          string, name of the data source, e.g. 'json', 'parquet'.
 |
 |      Examples
 |      --------
 |      >>> df.write.format('json').save(os.path.join(tempfile.mkdtemp(), 'data'))
 |
 |  insertInto(self, tableName, overwrite=None)
 |      Inserts the content of the :class:`DataFrame` to the specified table.
 |
 |      It requires that the schema of the :class:`DataFrame` is the same as the
 |      schema of the table.
 |
 |      Optionally overwriting any existing data.
 |
 |      .. versionadded:: 1.4
 |
 |  jdbc(self, url, table, mode=None, properties=None)
 |      Saves the content of the :class:`DataFrame` to an external database table via JDBC.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      url : str
 |          a JDBC URL of the form ``jdbc:subprotocol:subname``
 |      table : str
 |          Name of the table in the external database.
 |      mode : str, optional
 |          specifies the behavior of the save operation when data already exists.
 |
 |          * ``append``: Append contents of this :class:`DataFrame` to existing data.
 |          * ``overwrite``: Overwrite existing data.
 |          * ``ignore``: Silently ignore this operation if data already exists.
 |          * ``error`` or ``errorifexists`` (default case): Throw an exception if data already                 exists.
 |      properties : dict
 |          a dictionary of JDBC database connection arguments. Normally at
 |          least properties "user" and "password" with their corresponding values.
 |          For example { 'user' : 'SYSTEM', 'password' : 'mypassword' }
 |
 |      Notes
 |      -----
 |      Don't create too many partitions in parallel on a large cluster;
 |      otherwise Spark might crash your external database systems.
 |
 |  json(self, path, mode=None, compression=None, dateFormat=None, timestampFormat=None, lineSep=None, encoding=None, ignoreNullFields=None)
 |      Saves the content of the :class:`DataFrame` in JSON format
 |      (`JSON Lines text format or newline-delimited JSON <http://jsonlines.org/>`_) at the
 |      specified path.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      path : str
 |          the path in any Hadoop supported file system
 |      mode : str, optional
 |          specifies the behavior of the save operation when data already exists.
 |
 |          * ``append``: Append contents of this :class:`DataFrame` to existing data.
 |          * ``overwrite``: Overwrite existing data.
 |          * ``ignore``: Silently ignore this operation if data already exists.
 |          * ``error`` or ``errorifexists`` (default case): Throw an exception if data already                 exists.
 |      compression : str, optional
 |          compression codec to use when saving to file. This can be one of the
 |          known case-insensitive shorten names (none, bzip2, gzip, lz4,
 |          snappy and deflate).
 |      dateFormat : str, optional
 |          sets the string that indicates a date format. Custom date formats
 |          follow the formats at
 |          `datetime pattern <https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html>`_.  # noqa
 |          This applies to date type. If None is set, it uses the
 |          default value, ``yyyy-MM-dd``.
 |      timestampFormat : str, optional
 |          sets the string that indicates a timestamp format.
 |          Custom date formats follow the formats at
 |          `datetime pattern <https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html>`_.  # noqa
 |          This applies to timestamp type. If None is set, it uses the
 |          default value, ``yyyy-MM-dd'T'HH:mm:ss[.SSS][XXX]``.
 |      encoding : str, optional
 |          specifies encoding (charset) of saved json files. If None is set,
 |          the default UTF-8 charset will be used.
 |      lineSep : str, optional
 |          defines the line separator that should be used for writing. If None is
 |          set, it uses the default value, ``\n``.
 |      ignoreNullFields : str or bool, optional
 |          Whether to ignore null fields when generating JSON objects.
 |          If None is set, it uses the default value, ``true``.
 |
 |      Examples
 |      --------
 |      >>> df.write.json(os.path.join(tempfile.mkdtemp(), 'data'))
 |
 |  mode(self, saveMode)
 |      Specifies the behavior when data or table already exists.
 |
 |      Options include:
 |
 |      * `append`: Append contents of this :class:`DataFrame` to existing data.
 |      * `overwrite`: Overwrite existing data.
 |      * `error` or `errorifexists`: Throw an exception if data already exists.
 |      * `ignore`: Silently ignore this operation if data already exists.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Examples
 |      --------
 |      >>> df.write.mode('append').parquet(os.path.join(tempfile.mkdtemp(), 'data'))
 |
 |  option(self, key, value)
 |      Adds an output option for the underlying data source.
 |
 |      You can set the following option(s) for writing files:
 |          * ``timeZone``: sets the string that indicates a time zone ID to be used to format
 |              timestamps in the JSON/CSV datasources or partition values. The following
 |              formats of `timeZone` are supported:
 |
 |              * Region-based zone ID: It should have the form 'area/city', such as                   'America/Los_Angeles'.
 |              * Zone offset: It should be in the format '(+|-)HH:mm', for example '-08:00' or                  '+01:00'. Also 'UTC' and 'Z' are supported as aliases of '+00:00'.
 |
 |              Other short names like 'CST' are not recommended to use because they can be
 |              ambiguous. If it isn't set, the current value of the SQL config
 |              ``spark.sql.session.timeZone`` is used by default.
 |
 |      .. versionadded:: 1.5
 |
 |  options(self, **options)
 |      Adds output options for the underlying data source.
 |
 |      You can set the following option(s) for writing files:
 |          * ``timeZone``: sets the string that indicates a time zone ID to be used to format
 |              timestamps in the JSON/CSV datasources or partition values. The following
 |              formats of `timeZone` are supported:
 |
 |              * Region-based zone ID: It should have the form 'area/city', such as                   'America/Los_Angeles'.
 |              * Zone offset: It should be in the format '(+|-)HH:mm', for example '-08:00' or                  '+01:00'. Also 'UTC' and 'Z' are supported as aliases of '+00:00'.
 |
 |              Other short names like 'CST' are not recommended to use because they can be
 |              ambiguous. If it isn't set, the current value of the SQL config
 |              ``spark.sql.session.timeZone`` is used by default.
 |
 |      .. versionadded:: 1.4
 |
 |  orc(self, path, mode=None, partitionBy=None, compression=None)
 |      Saves the content of the :class:`DataFrame` in ORC format at the specified path.
 |
 |      .. versionadded:: 1.5.0
 |
 |      Parameters
 |      ----------
 |      path : str
 |          the path in any Hadoop supported file system
 |      mode : str, optional
 |          specifies the behavior of the save operation when data already exists.
 |
 |          * ``append``: Append contents of this :class:`DataFrame` to existing data.
 |          * ``overwrite``: Overwrite existing data.
 |          * ``ignore``: Silently ignore this operation if data already exists.
 |          * ``error`` or ``errorifexists`` (default case): Throw an exception if data already                 exists.
 |      partitionBy : str or list, optional
 |          names of partitioning columns
 |      compression : str, optional
 |          compression codec to use when saving to file. This can be one of the
 |          known case-insensitive shorten names (none, snappy, zlib, and lzo).
 |          This will override ``orc.compress`` and
 |          ``spark.sql.orc.compression.codec``. If None is set, it uses the value
 |          specified in ``spark.sql.orc.compression.codec``.
 |
 |      Examples
 |      --------
 |      >>> orc_df = spark.read.orc('python/test_support/sql/orc_partitioned')
 |      >>> orc_df.write.orc(os.path.join(tempfile.mkdtemp(), 'data'))
 |
 |  parquet(self, path, mode=None, partitionBy=None, compression=None)
 |      Saves the content of the :class:`DataFrame` in Parquet format at the specified path.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      path : str
 |          the path in any Hadoop supported file system
 |      mode : str, optional
 |          specifies the behavior of the save operation when data already exists.
 |
 |          * ``append``: Append contents of this :class:`DataFrame` to existing data.
 |          * ``overwrite``: Overwrite existing data.
 |          * ``ignore``: Silently ignore this operation if data already exists.
 |          * ``error`` or ``errorifexists`` (default case): Throw an exception if data already                 exists.
 |      partitionBy : str or list, optional
 |          names of partitioning columns
 |      compression : str, optional
 |          compression codec to use when saving to file. This can be one of the
 |          known case-insensitive shorten names (none, uncompressed, snappy, gzip,
 |          lzo, brotli, lz4, and zstd). This will override
 |          ``spark.sql.parquet.compression.codec``. If None is set, it uses the
 |          value specified in ``spark.sql.parquet.compression.codec``.
 |
 |      Examples
 |      --------
 |      >>> df.write.parquet(os.path.join(tempfile.mkdtemp(), 'data'))
 |
 |  partitionBy(self, *cols)
 |      Partitions the output by the given columns on the file system.
 |
 |      If specified, the output is laid out on the file system similar
 |      to Hive's partitioning scheme.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      cols : str or list
 |          name of columns
 |
 |      Examples
 |      --------
 |      >>> df.write.partitionBy('year', 'month').parquet(os.path.join(tempfile.mkdtemp(), 'data'))
 |
 |  save(self, path=None, format=None, mode=None, partitionBy=None, **options)
 |      Saves the contents of the :class:`DataFrame` to a data source.
 |
 |      The data source is specified by the ``format`` and a set of ``options``.
 |      If ``format`` is not specified, the default data source configured by
 |      ``spark.sql.sources.default`` will be used.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      path : str, optional
 |          the path in a Hadoop supported file system
 |      format : str, optional
 |          the format used to save
 |      mode : str, optional
 |          specifies the behavior of the save operation when data already exists.
 |
 |          * ``append``: Append contents of this :class:`DataFrame` to existing data.
 |          * ``overwrite``: Overwrite existing data.
 |          * ``ignore``: Silently ignore this operation if data already exists.
 |          * ``error`` or ``errorifexists`` (default case): Throw an exception if data already                 exists.
 |      partitionBy : list, optional
 |          names of partitioning columns
 |      **options : dict
 |          all other string options
 |
 |      Examples
 |      --------
 |      >>> df.write.mode("append").save(os.path.join(tempfile.mkdtemp(), 'data'))
 |
 |  saveAsTable(self, name, format=None, mode=None, partitionBy=None, **options)
 |      Saves the content of the :class:`DataFrame` as the specified table.
 |
 |      In the case the table already exists, behavior of this function depends on the
 |      save mode, specified by the `mode` function (default to throwing an exception).
 |      When `mode` is `Overwrite`, the schema of the :class:`DataFrame` does not need to be
 |      the same as that of the existing table.
 |
 |      * `append`: Append contents of this :class:`DataFrame` to existing data.
 |      * `overwrite`: Overwrite existing data.
 |      * `error` or `errorifexists`: Throw an exception if data already exists.
 |      * `ignore`: Silently ignore this operation if data already exists.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      name : str
 |          the table name
 |      format : str, optional
 |          the format used to save
 |      mode : str, optional
 |          one of `append`, `overwrite`, `error`, `errorifexists`, `ignore`             (default: error)
 |      partitionBy : str or list
 |          names of partitioning columns
 |      **options : dict
 |          all other string options
 |
 |  sortBy(self, col, *cols)
 |      Sorts the output in each bucket by the given columns on the file system.
 |
 |      .. versionadded:: 2.3.0
 |
 |      Parameters
 |      ----------
 |      col : str, tuple or list
 |          a name of a column, or a list of names.
 |      cols : str
 |          additional names (optional). If `col` is a list it should be empty.
 |
 |      Examples
 |      --------
 |      >>> (df.write.format('parquet')  # doctest: +SKIP
 |      ...     .bucketBy(100, 'year', 'month')
 |      ...     .sortBy('day')
 |      ...     .mode("overwrite")
 |      ...     .saveAsTable('sorted_bucketed_table'))
 |
 |  text(self, path, compression=None, lineSep=None)

In [4]:
from pyspark.sql import dataframe
help(dataframe)

Help on module pyspark.sql.dataframe in pyspark.sql:

NAME
    pyspark.sql.dataframe

DESCRIPTION
    # Licensed to the Apache Software Foundation (ASF) under one or more
    # contributor license agreements.  See the NOTICE file distributed with
    # this work for additional information regarding copyright ownership.
    # The ASF licenses this file to You under the Apache License, Version 2.0
    # (the "License"); you may not use this file except in compliance with
    # the License.  You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
    #
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    #

CLASSES
    builtins.object
        DataFrameNaFunctions
        DataFrameStatFunctions
    pyspark.sql.pandas.conversion.PandasConversionMixin(builtins.object)
        DataFrame(pyspark.sql.pandas.map_ops.PandasMapOpsMixin, pyspark.sql.pandas.conversion.PandasConversionMixin)
    pyspark.sql.pandas.map_ops.PandasMapOpsMixin(builtins.object)
        DataFrame(pyspark.sql.pandas.map_ops.PandasMapOpsMixin, pyspark.sql.pandas.conversion.PandasConversionMixin)

    class DataFrame(pyspark.sql.pandas.map_ops.PandasMapOpsMixin, pyspark.sql.pandas.conversion.PandasConversionMixin)
     |  DataFrame(jdf, sql_ctx)
     |
     |  A distributed collection of data grouped into named columns.
     |
     |  A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
     |  and can be created using various functions in :class:`SparkSession`::
     |
     |      people = spark.read.parquet("...")
     |
     |  Once created, it can be manipulated using the various domain-specific-language
     |  (DSL) functions defined in: :class:`DataFrame`, :class:`Column`.
     |
     |  To select a column from the :class:`DataFrame`, use the apply method::
     |
     |      ageCol = people.age
     |
     |  A more concrete example::
     |
     |      # To create DataFrame using SparkSession
     |      people = spark.read.parquet("...")
     |      department = spark.read.parquet("...")
     |
     |      people.filter(people.age > 30).join(department, people.deptId == department.id) \
     |        .groupBy(department.name, "gender").agg({"salary": "avg", "age": "max"})
     |
     |  .. versionadded:: 1.3.0
     |
     |  Method resolution order:
     |      DataFrame
     |      pyspark.sql.pandas.map_ops.PandasMapOpsMixin
     |      pyspark.sql.pandas.conversion.PandasConversionMixin
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __getattr__(self, name)
     |      Returns the :class:`Column` denoted by ``name``.
     |
     |      .. versionadded:: 1.3.0
     |
     |      Examples
     |      --------
     |      >>> df.select(df.age).collect()
     |      [Row(age=2), Row(age=5)]
     |
     |  __getitem__(self, item)
     |      Returns the column as a :class:`Column`.
     |
     |      .. versionadded:: 1.3.0
     |
     |      Examples
     |      --------
     |      >>> df.select(df['age']).collect()
     |      [Row(age=2), Row(age=5)]
     |      >>> df[ ["name", "age"]].collect()
     |      [Row(name='Alice', age=2), Row(name='Bob', age=5)]
     |      >>> df[ df.age > 3 ].collect()
     |      [Row(age=5, name='Bob')]
     |      >>> df[df[0] > 3].collect()
     |      [Row(age=5, name='Bob')]
     |
     |  __init__(self, jdf, sql_ctx)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  __repr__(self)
     |      Return repr(self).
     |
     |  agg(self, *exprs)
     |      Aggregate on the entire :class:`DataFrame` without groups
     |      (shorthand for ``df.groupBy().agg()``).
     |
     |      .. versionadded:: 1.3.0
     |
     |      Examples
     |      --------
     |      >>> df.agg({"age": "max"}).collect()
     |      [Row(max(age)=5)]
     |      >>> from pyspark.sql import functions as F
     |      >>> df.agg(F.min(df.age)).collect()
     |      [Row(min(age)=2)]
     |
     |  alias(self, alias)
     |      Returns a new :class:`DataFrame` with an alias set.
     |
     |      .. versionadded:: 1.3.0
     |
     |      Parameters
     |      ----------
     |      alias : str
     |          an alias name to be set for the :class:`DataFrame`.
     |
     |      Examples
     |      --------
     |      >>> from pyspark.sql.functions import *
     |      >>> df_as1 = df.alias("df_as1")
     |      >>> df_as2 = df.alias("df_as2")
     |      >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
     |      >>> joined_df.select("df_as1.name", "df_as2.name", "df_as2.age")                 .sort(desc("df_as1.name")).collect()
     |      [Row(name='Bob', name='Bob', age=5), Row(name='Alice', name='Alice', age=2)]
     |
     |  approxQuantile(self, col, probabilities, relativeError)
     |      Calculates the approximate quantiles of numerical columns of a
     |      :class:`DataFrame`.
     |
     |      The result of this algorithm has the following deterministic bound:
     |      If the :class:`DataFrame` has N elements and if we request the quantile at
     |      probability `p` up to error `err`, then the algorithm will return
     |      a sample `x` from the :class:`DataFrame` so that the *exact* rank of `x` is
     |      close to (p * N). More precisely,
     |
     |        floor((p - err) * N) <= rank(x) <= ceil((p + err) * N).
     |
     |      This method implements a variation of the Greenwald-Khanna
     |      algorithm (with some speed optimizations). The algorithm was first
     |      present in [[https://doi.org/10.1145/375663.375670
     |      Space-efficient Online Computation of Quantile Summaries]]
     |      by Greenwald and Khanna.
     |
     |      Note that null values will be ignored in numerical columns before calculation.
     |      For columns only containing null values, an empty list is returned.
     |
     |      .. versionadded:: 2.0.0
     |
     |      Parameters
     |      ----------
     |      col: str, tuple or list
     |          Can be a single column name, or a list of names for multiple columns.
     |
     |          .. versionchanged:: 2.2
     |             Added support for multiple columns.
     |      probabilities : list or tuple
     |          a list of quantile probabilities
     |          Each number must belong to [0, 1].
     |          For example 0 is the minimum, 0.5 is the median, 1 is the maximum.
     |      relativeError : float
     |          The relative target precision to achieve
     |          (>= 0). If set to zero, the exact quantiles are computed, which
     |          could be very expensive. Note that values greater than 1 are
     |          accepted but give the same result as 1.
     |
     |      Returns
     |      -------
     |      list
     |          the approximate quantiles at the given probabilities. If
     |          the input `col` is a string, the output is a list of floats. If the
     |          input `col` is a list or tuple of strings, the output is also a
     |          list, but each element in it is a list of floats, i.e., the output
     |          is a list of list of floats.
     |
     |  cache(self)
     |      Persists the :class:`DataFrame` with the default storage level (`MEMORY_AND_DISK`).
     |
     |      .. versionadded:: 1.3.0
     |
     |      Notes
     |      -----
     |      The default storage level has changed to `MEMORY_AND_DISK` to match Scala in 2.0.
     |
     |  checkpoint(self, eager=True)
     |      Returns a checkpointed version of this Dataset. Checkpointing can be used to truncate the
     |      logical plan of this :class:`DataFrame`, which is especially useful in iterative algorithms
     |      where the plan may grow exponentially. It will be saved to files inside the checkpoint
     |      directory set with :meth:`SparkContext.setCheckpointDir`.
     |
     |      .. versionadded:: 2.1.0
     |
     |      Parameters
     |      ----------
     |      eager : bool, optional
     |          Whether to checkpoint this :class:`DataFrame` immediately
     |
     |      Notes
     |      -----
     |      This API is experimental.
     |
     |  coalesce(self, numPartitions)
     |      Returns a new :class:`DataFrame` that has exactly `numPartitions` partitions.
     |
     |      Similar to coalesce defined on an :class:`RDD`, this operation results in a
     |      narrow dependency, e.g. if you go from 1000 partitions to 100 partitions,
     |      there will not be a shuffle, instead each of the 100 new partitions will
     |      claim 10 of the current partitions. If a larger number of partitions is requested,
     |      it will stay at the current number of partitions.
     |
     |      However, if you're doing a drastic coalesce, e.g. to numPartitions = 1,
     |      this may result in your computation taking place on fewer nodes than
     |      you like (e.g. one node in the case of numPartitions = 1). To avoid this,
     |      you can call repartition(). This will add a shuffle step, but means the
     |      current upstream partitions will be executed in parallel (per whatever
     |      the current partitioning is).
     |
     |      .. versionadded:: 1.4.0
     |
     |      Parameters
     |      ----------
     |      numPartitions : int
     |          specify the target number of partitions
     |
     |      Examples
     |      --------
     |      >>> df.coalesce(1).rdd.getNumPartitions()
     |      1
     |
     |  colRegex(self, colName)
     |      Selects column based on the column name specified as a regex and returns it
     |      as :class:`Column`.
     |
     |      .. versionadded:: 2.3.0
     |
     |      Parameters
     |      ----------
     |      colName : str
     |          string, column name specified as a regex.
     |
     |      Examples
     |      --------
     |      >>> df = spark.createDataFrame([("a", 1), ("b", 2), ("c",  3)], ["Col1", "Col2"])
     |      >>> df.select(df.colRegex("`(Col1)?+.+`")).show()
     |      +----+
     |      |Col2|
     |      +----+
     |      |   1|
     |      |   2|
     |      |   3|
     |      +----+
     |
     |  collect(self)
     |      Returns all the records as a list of :class:`Row`.
     |
     |      .. versionadded:: 1.3.0
     |
     |      Examples
     |      --------
     |      >>> df.collect()
     |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
     |
     |  corr(self, col1, col2, method=None)
     |      Calculates the correlation of two columns of a :class:`DataFrame` as a double value.
     |      Currently only supports the Pearson Correlation Coefficient.
     |      :func:`DataFrame.corr` and :func:`DataFrameStatFunctions.corr` are aliases of each other.
     |
     |      .. versionadded:: 1.4.0
     |
     |      Parameters
     |      ----------
     |      col1 : str
     |          The name of the first column
     |      col2 : str
     |          The name of the second column
     |      method : str, optional
     |          The correlation method. Currently only supports "pearson"
     |
     |  count(self)
     |      Returns the number of rows in this :class:`DataFrame`.
     |
     |      .. versionadded:: 1.3.0
     |
     |      Examples
     |      --------
     |      >>> df.count()
     |      2
     |
     |  cov(self, col1, col2)
     |      Calculate the sample covariance for the given columns, specified by their names, as a
     |      double value. :func:`DataFrame.cov` and :func:`DataFrameStatFunctions.cov` are aliases.
     |
     |      .. versionadded:: 1.4.0
     |
     |      Parameters
     |      ----------
     |      col1 : str
     |          The name of the first column
     |      col2 : str
     |          The name of the second column
     |
     |  createGlobalTempView(self, name)
     |      Creates a global temporary view with this :class:`DataFrame`.
     |
     |      The lifetime of this temporary view is tied to this Spark application.
     |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
     |      catalog.
     |
     |      .. versionadded:: 2.1.0
     |
     |      Examples
     |      --------
     |      >>> df.createGlobalTempView("people")
     |      >>> df2 = spark.sql("select * from global_temp.people")
     |      >>> sorted(df.collect()) == sorted(df2.collect())
     |      True
     |      >>> df.createGlobalTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
     |      Traceback (most recent call last):
     |      ...
     |      AnalysisException: u"Temporary table 'people' already exists;"
     |      >>> spark.catalog.dropGlobalTempView("people")
     |
     |  createOrReplaceGlobalTempView(self, name)
     |      Creates or replaces a global temporary view using the given name.
     |
     |      The lifetime of this temporary view is tied to this Spark application.
     |
     |      .. versionadded:: 2.2.0
     |
     |      Examples
     |      --------
     |      >>> df.createOrReplaceGlobalTempView("people")
     |      >>> df2 = df.filter(df.age > 3)
     |      >>> df2.createOrReplaceGlobalTempView("people")
     |      >>> df3 = spark.sql("select * from global_temp.people")
     |      >>> sorted(df3.collect()) == sorted(df2.collect())
     |      True
     |      >>> spark.catalog.dropGlobalTempView("people")
     |
     |  createOrReplaceTempView(self, name)
     |      Creates or replaces a local temporary view with this :class:`DataFrame`.
     |
     |      The lifetime of this temporary table is tied to the :class:`SparkSession`
     |      that was used to create this :class:`DataFrame`.
     |
     |      .. versionadded:: 2.0.0
     |
     |      Examples
     |      --------
     |      >>> df.createOrReplaceTempView("people")
     |      >>> df2 = df.filter(df.age > 3)
     |      >>> df2.createOrReplaceTempView("people")
     |      >>> df3 = spark.sql("select * from people")
     |      >>> sorted(df3.collect()) == sorted(df2.collect())
     |      True
     |      >>> spark.catalog.dropTempView("people")
     |
     |  createTempView(self, name)
     |      Creates a local temporary view with this :class:`DataFrame`.
     |
     |      The lifetime of this temporary table is tied to the :class:`SparkSession`
     |      that was used to create this :class:`DataFrame`.
     |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
     |      catalog.
     |
     |      .. versionadded:: 2.0.0
     |
     |      Examples
     |      --------
     |      >>> df.createTempView("people")
     |      >>> df2 = spark.sql("select * from people")
     |      >>> sorted(df.collect()) == sorted(df2.collect())
     |      True
     |      >>> df.createTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
     |      Traceback (most recent call last):
     |      ...
     |      AnalysisException: u"Temporary table 'people' already exists;"
     |      >>> spark.catalog.dropTempView("people")
     |
     |  crossJoin(self, other)
     |      Returns the cartesian product with another :class:`DataFrame`.
     |
     |      .. versionadded:: 2.1.0
     |
     |      Parameters
     |      ----------
     |      other : :class:`DataFrame`
     |          Right side of the cartesian product.
     |
     |      Examples
     |      --------
     |      >>> df.select("age", "name").collect()
     |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
     |      >>> df2.select("name", "height").collect()
     |      [Row(name='Tom', height=80), Row(name='Bob', height=85)]
     |      >>> df.crossJoin(df2.select("height")).select("age", "name", "height").collect()
     |      [Row(age=2, name='Alice', height=80), Row(age=2, name='Alice', height=85),
     |       Row(age=5, name='Bob', height=80), Row(age=5, name='Bob', height=85)]
     |
     |  crosstab(self, col1, col2)
     |      Computes a pair-wise frequency table of the given columns. Also known as a contingency
     |      table. The number of distinct values for each column should be less than 1e4. At most 1e6
     |      non-zero pair frequencies will be returned.
     |      The first column of each row will be the distinct values of `col1` and the column names
     |      will be the distinct values of `col2`. The name of the first column will be `$col1_$col2`.
     |      Pairs that have no occurrences will have zero as their counts.
     |      :func:`DataFrame.crosstab` and :func:`DataFrameStatFunctions.crosstab` are aliases.
     |
     |      .. versionadded:: 1.4.0
     |
     |      Parameters
     |      ----------
     |      col1 : str
     |          The name of the first column. Distinct items will make the first item of
     |          each row.
     |      col2 : str
     |          The name of the second column. Distinct items will make the column names
     |          of the :class:`DataFrame`.
     |
     |  cube(self, *cols)
     |      Create a multi-dimensional cube for the current :class:`DataFrame` using
     |      the specified columns, so we can run aggregations on them.
     |
     |      .. versionadded:: 1.4.0
     |
     |      Examples
     |      --------
     |      >>> df.cube("name", df.age).count().orderBy("name", "age").show()
     |      +-----+----+-----+
     |      | name| age|count|
     |      +-----+----+-----+
     |      | null|null|    2|
     |      | null|   2|    1|
     |      | null|   5|    1|
     |      |Alice|null|    1|
     |      |Alice|   2|    1|
     |      |  Bob|null|    1|
     |      |  Bob|   5|    1|
     |      +-----+----+-----+
     |
     |  describe(self, *cols)
     |      Computes basic statistics for numeric and string columns.
     |
     |      .. versionadded:: 1.3.1
     |
     |      This include count, mean, stddev, min, and max. If no columns are
     |      given, this function computes statistics for all numerical or string columns.
     |
     |      Notes
     |      -----
     |      This function is meant for exploratory data analysis, as we make no
     |      guarantee about the backward compatibility of the schema of the resulting
     |      :class:`DataFrame`.
     |
     |      Use summary for expanded statistics and control over which statistics to compute.
     |
     |      Examples
     |      --------
     |      >>> df.describe(['age']).show()
     |      +-------+------------------+
     |      |summary|               age|
     |      +-------+------------------+
     |      |  count|                 2|
     |      |   mean|               3.5|
     |      | stddev|2.1213203435596424|
     |      |    min|                 2|
     |      |    max|                 5|
     |      +-------+------------------+
     |      >>> df.describe().show()
     |      +-------+------------------+-----+
     |      |summary|               age| name|
     |      +-------+------------------+-----+
     |      |  count|                 2|    2|
     |      |   mean|               3.5| null|
     |      | stddev|2.1213203435596424| null|
     |      |    min|                 2|Alice|
     |      |    max|                 5|  Bob|
     |      +-------+------------------+-----+
     |
     |      See Also
     |      --------
     |      DataFrame.summary
     |
     |  distinct(self)
     |      Returns a new :class:`DataFrame` containing the distinct rows in this :class:`DataFrame`.
     |
     |      .. versionadded:: 1.3.0
     |
     |      Examples
     |      --------
     |      >>> df.distinct().count()
     |      2
     |
     |  drop(self, *cols)

----

In [5]:
data = [(1,'Edward'),(2,'Praveen')]

schema = ['id','name']

df = spark.createDataFrame(data=data, schema=schema)
df.show()

+---+-------+
| id|   name|
+---+-------+
|  1| Edward|
|  2|Praveen|
+---+-------+

In [6]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [9]:
type(df.write)

pyspark.sql.readwriter.DataFrameWriter

In [7]:
help(df.write.csv)

Help on method csv in module pyspark.sql.readwriter:

csv(path, mode=None, compression=None, sep=None, quote=None, escape=None, header=None, nullValue=None, escapeQuotes=None, quoteAll=None, dateFormat=None, timestampFormat=None, ignoreLeadingWhiteSpace=None, ignoreTrailingWhiteSpace=None, charToEscapeQuoteEscaping=None, encoding=None, emptyValue=None, lineSep=None) method of pyspark.sql.readwriter.DataFrameWriter instance
    Saves the content of the :class:`DataFrame` in CSV format at the specified path.

    .. versionadded:: 2.0.0

    Parameters
    ----------
    path : str
        the path in any Hadoop supported file system
    mode : str, optional
        specifies the behavior of the save operation when data already exists.

        * ``append``: Append contents of this :class:`DataFrame` to existing data.
        * ``overwrite``: Overwrite existing data.
        * ``ignore``: Silently ignore this operation if data already exists.
        * ``error`` or ``errorifexists`` (default case): Throw an exception if data already \
            exists.

    compression : str, optional
        compression codec to use when saving to file. This can be one of the
        known case-insensitive shorten names (none, bzip2, gzip, lz4,
        snappy and deflate).
    sep : str, optional
        sets a separator (one or more characters) for each field and value. If None is
        set, it uses the default value, ``,``.
    quote : str, optional
        sets a single character used for escaping quoted values where the
        separator can be part of the value. If None is set, it uses the default
        value, ``"``. If an empty string is set, it uses ``u0000`` (null character).
    escape : str, optional
        sets a single character used for escaping quotes inside an already
        quoted value. If None is set, it uses the default value, ``\``
    escapeQuotes : str or bool, optional
        a flag indicating whether values containing quotes should always
        be enclosed in quotes. If None is set, it uses the default value
        ``true``, escaping all values containing a quote character.
    quoteAll : str or bool, optional
        a flag indicating whether all values should always be enclosed in
        quotes. If None is set, it uses the default value ``false``,
        only escaping values containing a quote character.
    header : str or bool, optional
        writes the names of columns as the first line. If None is set, it uses
        the default value, ``false``.
    nullValue : str, optional
        sets the string representation of a null value. If None is set, it uses
        the default value, empty string.
    dateFormat : str, optional
        sets the string that indicates a date format. Custom date formats follow
        the formats at
        `datetime pattern <https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html>`_.  # noqa
        This applies to date type. If None is set, it uses the
        default value, ``yyyy-MM-dd``.
    timestampFormat : str, optional
        sets the string that indicates a timestamp format.
        Custom date formats follow the formats at
        `datetime pattern <https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html>`_.  # noqa
        This applies to timestamp type. If None is set, it uses the
        default value, ``yyyy-MM-dd'T'HH:mm:ss[.SSS][XXX]``.
    ignoreLeadingWhiteSpace : str or bool, optional
        a flag indicating whether or not leading whitespaces from
        values being written should be skipped. If None is set, it
        uses the default value, ``true``.
    ignoreTrailingWhiteSpace : str or bool, optional
        a flag indicating whether or not trailing whitespaces from
        values being written should be skipped. If None is set, it
        uses the default value, ``true``.
    charToEscapeQuoteEscaping : str, optional
        sets a single character used for escaping the escape for
        the quote character. If None is set, the default value is
        escape character when escape and quote characters are
        different, ``\0`` otherwise..
    encoding : str, optional
        sets the encoding (charset) of saved csv files. If None is set,
        the default UTF-8 charset will be used.
    emptyValue : str, optional
        sets the string representation of an empty value. If None is set, it uses
        the default value, ``""``.
    lineSep : str, optional
        defines the line separator that should be used for writing. If None is
        set, it uses the default value, ``\\n``. Maximum length is 1 character.

    Examples
    --------
    >>> df.write.csv(os.path.join(tempfile.mkdtemp(), 'data'))

In [11]:
df.write.csv(path='/user/bigdatapedia/data/tmp/',header=True)

In [13]:
# Check whether the file created or not
spark.read.csv('/user/bigdatapedia/data/tmp/',header=True).show()

+---+-------+
| id|   name|
+---+-------+
|  1| Edward|
|  2|Praveen|
+---+-------+

**Appending columns**

In [14]:
df.write.csv(path='/user/bigdatapedia/data/tmp/',header=True,mode='append') # mode

In [15]:
spark.read.csv('/user/bigdatapedia/data/tmp/',header=True).show()

+---+-------+
| id|   name|
+---+-------+
|  1| Edward|
|  2|Praveen|
|  1| Edward|
|  2|Praveen|
+---+-------+

**Overwrite Columns**

In [16]:
df.write.csv(path='/user/bigdatapedia/data/tmp/',header=True,mode='overwrite') # mode

In [17]:
spark.read.csv('/user/bigdatapedia/data/tmp/',header=True).show()

+---+-------+
| id|   name|
+---+-------+
|  1| Edward|
|  2|Praveen|
+---+-------+

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 45832)
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/usr/local/lib/python3.10/socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "/usr/local/lib/python3.10/socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/usr/local/lib/python3.10/socketserver.py", line 747, in __init__
    self.handle()
  File "/home/bigdatapedia/spark/python/pyspark/accumulators.py", line 262, in handle
    poll(accum_updates)
  File "/home/bigdatapedia/spark/python/pyspark/accumulators.py", line 235, in poll
    if func():
  File "/home/bigdatapedia/spark/python/pyspark/accumulators.py", line 239, in accum_updates
    num_updates = read_int(self.rfile)
  File "/home/bigdatapedia/spark/python/pyspark/serializers.py", line 564, in read_int
    raise EOFError
EOFError
----------------------------------------